.ceng{
    width: 100px;
    height: 100px;
    border:1px solid black;
    border-radius: 50%;
    float: left;
    margin: 10px;
}
.circle{
    /* background-image: radial-gradient(circle at center,orange,green) */
    /* background-image: radial-gradient(circle at top left,orange,green) */
    background-image: radial-gradient(20px circle at center,orange,green)

}
.ellipse{
    /* background-image: radial-gradient(ellipse at center,orange,green) */
    /* background-image: radial-gradient(ellipse at top left,orange,green) */
    background-image: radial-gradient(50px 30px ellipse at center,orange,green)

}